{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<div class="row">

			<div class="col-md-6 offset-md-3">
				{{form_start(form,{'attr':{'novalidate':'novalidate','class':'user'}}) }}
				<br>
				<br>
				<br>


				<div class="form-group">
					<input type="hidden" name="_token" value="{{ csrf_token('reclam') }}">
					<div class="form-group">
						{{ form_errors(form.username) }}
						{{ form_widget(form.username,{'attr':{'class':'form-control form-control-user','id':'exampleInputtext',
'placeholder':'Email Address','readonly':"readonly",'value':usertab.username}}) }}


					</div>
					<br>
					<br>


					<div class="form-group">
						{{ form_errors(form.email) }}
						{{ form_widget(form.email,{'attr':{'class':'form-control form-control-user','id':'exampleInputEmail',
          'placeholder':'Email Address','value':usertab.email}}) }}

					</div>
					<br>
					<br>


					<div class="form-group">
						{{ form_errors(form.password) }}
						{{ form_widget(form.password,{'attr':{'class':'form-control form-control-user','id':'exampleInputPassword',
          'placeholder':'Password'}}) }}

					</div>
					<br>
					<br>


					<div class="form-group">
						{{ form_errors(form.tel) }}
						{{ form_widget(form.tel,{'attr':{'class':'form-control form-control-user','id':'exampleInputPassword',
          'placeholder':'Phone Number','value':usertab.tel}}) }}

					</div>

					<br>
					<br>

					<div class="form-group">
						{{ form_widget(form.Validate, { 'attr': {'class': 'btn btn-primary btn-user btn-block'} }) }}

					</div>
					<br>
					<br>

					{{ form_end(form) }}
					<div class="col-md-6">
						<a class="btn btn-primary btn-block" href={{ path('addReclam') }}>Reclamation</a>
					</div>

					<br>
					<br>

				</div>
			</div>
		</div>


		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href={{ path('app_logout') }}>Logout</a>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
