{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

            <div class="col-md-6 offset-md-3">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

                <div class="form-group">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.code) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.nb) }}
                    {{ form_widget(form.nb, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nb) }}
                </div>

               
                <div class="form-group">
                    <button class="btn btn-info mt-2 text-white">update</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}