{% extends 'base.html.twig' %}


{% block body %}
<section class="breadcrumbs">
      <div class="container">
        <ol>
          <h4>Portfolio Details</h4>
        </ol>
      </div>
</section>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                  <img src="/uploads/images/{{produit.image}}" alt="{{ produit.nom }}" style="height:400px ; width:500px ; margin-left:70px" >
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{ produit.nom }}</h3>
              <ul>
                <li><strong>Categorie</strong>: {{produit.idctg}}</li>
                <li><strong>Quantité du produit</strong>: {{produit.qtestock}}</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>La description du produit </h2>
              <p>
                {{produit.description}}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
 {% endblock %}