{% extends 'base.html.twig' %}


{% block body %}
<section class="breadcrumbs">
      <div class="container">
        <ol>
          <h4>Portfolio Details</h4>
        </ol>
      </div>
</section>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                  <img src="/uploads/images/{{produit.image}}" alt="{{ produit.nom }}" style="height:400px ; width:500px ; margin-left:70px" >
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>{{ produit.nom }}</h3>
              <ul>
                <li><strong>Categorie</strong>: {{produit.idctg}}</li>
                <li><strong>Quantité en stock</strong>: {{produit.qtestock}}</li>
                <li><strong>Quantité du produit vous voulez</strong>: <input type="number" id="quantity" name="quantity" min="1" max="{{produit.qtestock}}" value="1"></li>
                <button onclick="addToCart({{produit.id}}, document.getElementById('quantity').value)" style=" margin-top : 20px;
                    margin-left: 120px;
                    border: 2px solid #ffffff;
                    background-color: #F6B49C;
                    color: #ffffff;
                    padding: 10px 20px;
                    border-radius: 5px;"  >Add to cart</button>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>La description du produit </h2>
              <p>
                {{produit.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
        <!-- End Portfolio Details Section -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        function addToCart(productId, quantity) {
        $.ajax({
            url: "{{ path('add_to_cart') }}",
            type: "POST",
            data: { productId: productId, quantity: quantity },
            success: function(result) {
            // Decrement product stock quantity
            var qteStock = parseInt('{{produit.qtestock}}');
            qteStock -= parseInt(quantity);
            document.getElementById('quantity').max = qteStock;
            '{{produit.qtestock}}' = qteStock;
            }
        });
        }
</script>
 {% endblock %}