{% extends 'base.html.twig' %}

{% block title %}Art Station{% endblock %}


{% block body %}
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up" data-aos-delay="200" style="overflow-y: scroll; height: 500px; ">

        <div class="section-title">
          <h2>Les produits</h2>
        </div>
  <div class="row gy-4 portfolio-container" >
            <div class="col-md-2 mb-2">
                <div class="card">
                    <a href="{{ path('ajoutProduit') }}" class="btn btn-success mb-2" style="width: 100%;">Ajouter Produit</a>
                </div>
            </div>
        <div class="row gy-4 portfolio-container" >
        {% for produit in produits %}
            <div class="col-md-2 mb-2">
                <div class="card">
                    <img src="{{ asset('../uploads/images/' ~ produit.image) }}" alt="{{ produit.nom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">{{ produit.description }}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}