
 
  <div class="container">
 </br> 
            <div class="col-md-6 offset-md-3">
                 


             <div class="text-center">
       <h2>order  <h2>
                </div>
                  </div>

       


                 

    <h3> nom: {{ data.getNom() }} </h3>
<h3> prenm: {{ data.getPrenoom() }} </h3>
<h3> addresse: {{ data.getAdresse() }} </h3>
<h3> ville: {{ data.getVille() }} </h3>
<h3> code postale: {{ data.getCodePostale() ~ '' }} </h3>
<h3> prix: {{ data.getTotalPrice() ~ '' }} Dt </h3>
        
    </div> 

       

            </div>
        </div>
    </div>